
{% extends 'base/base.html' %}
{% block content %}

<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header>
				<h1>A²R - Consultoria Energética</h1>
			</header>

			<div class="flex ">

				<div>
					<span class="icon fa-car"></span>
					<h3>Análise Tarifária</h3>
					<p>Suspendisse amet ullamco</p>
				</div>

				<div>
					<span class="icon fa-camera"></span>
					<h3>Geração por fontes renováveis</h3>
					<p>Class aptent taciti ad litora</p>
				</div>

				<div>
					<span class="icon fa-bug"></span>
					<h3>Sistemas de Potência</h3>
					<p>Nulla vitae mauris non felis</p>
				</div>

			</div>

			<footer>
				<a href="#" class="button">Submeta Suas Faturas de Energia</a>
			</footer>
		</div>
	</section>


	<!-- Footer -->
	
{% endblock %}